*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 60.5%; 
  font-family: "Hiragino Kaku Gothic ProN",Meiryo,"游ゴシック",YuGothic,sans-serif
}

body {
  box-sizing: border-box; 
  background-color: #f6f6f6;
  font-size:1.4rem
}

.container{
    max-width: 600px;
    margin: auto;
    background-color: #fff;
}

header{
    width: 100%;
    padding:1rem 0 0.8rem 0;
    background-color: #fff;
    text-align: center
}

header img{
    width: 35rem;
}

.line--yellow{
    width: 100%;
    height: 1rem;
    background-color: #ffd500
}

.top-content{
    width: 100%;
    background-color: #6eb92b;
    padding:1rem;
}
#top-content__header-text{
    margin: auto;
    text-align: center;
    padding: 4rem 0
}
#top-content__header-text p{
    font-size: 3rem;
    color:#fff
}
#top-content__header-text .bold-text{
    font-weight: bold
}

#top-content__main{
    padding: 3.3rem 1.4rem;
    width: 100%;
    background-color: #fff;
}
.top-content__main-text{
    text-align: center
}
#top-content__header-text .text-bold--small{
    font-size: 2.4rem;
}
.text-content{
    font-size: 2.6rem;
    text-align: center;
    color:#333;
    position: relative;
}
.top-content__main-text .text-content::after, .top-content__main-text .flex-content-1::after{
    content: "";
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    width: 100%;
    height: .4rem;
    background-color: #ff0000;
}
.top-content__main-text .flex-content-1{
    display: inline-block;
    margin-top: .5rem;
    position: relative;
}
.top-content__main-text .flex-content-1 span{
    font-size: 2.6rem;
    font-weight: bold
}
.top-content__main-text .flex-content-1 img{
    width: 20.4rem;
    height: 4rem;
    margin-bottom: -.8rem;
}
.top-content__main-text .flex-content-2{
    display: inline-block;
    margin-top: 2rem;
    position: relative;
}
.top-content__main-text .flex-content-2 span{
    font-size: 2.2rem;
    font-weight: bold;
}
.top-content__main-text .flex-content-2 img{
    width: 20rem;
    height: 3.4rem;
    margin-bottom: -0.7rem;
}
#content-multi-image{
    width: 100%;
    text-align: center;
    margin-top:1.5rem;
    position: relative;
}
#content-multi-image p{
    font-size: 3.2rem;
    font-weight: bold
}
#content-multi-image .text-01{
    margin-left: 4rem
}
#content-multi-image .text-02{
    margin-top: 1rem
}
#content-multi-image #multi-01{
    position: absolute;
    left: 1rem;
    top: 2rem;
    width: 10rem;
    height: 16rem;
}
#content-multi-image #multi-02{
    position: absolute;
    right: 1rem;
    top: 6rem;
    width: 7.5rem;
    height: 8.8rem;
}
.img-arrow{
    margin-top:2.5rem;
    width: 5.5rem;
    height: 5.7rem;
}
.arrow-container{
    width: 100%;
    text-align: center
}
.dialog-flex{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dialog-flex #person-01{
    width: 8rem;
    height: 9rem;
    margin-left: 1rem;
}
.dialog-flex #dialog-01{
    width: 41rem;
    height: 8rem;
    margin-left: 1rem;
}
.dialog-container{
    /* display: flex;
    flex-direction: row;
    align-items: flex-end */
    position: relative;
    margin-bottom: 3rem
}
.dialog-box{
    padding: 1rem 1rem;
    border: 0.2rem solid #f16120;
    border-radius: 1rem;
    position: relative;
    margin-top: 3rem;
    text-align: center;
    max-width: 44.5rem;
}
.dialog-box::before{
    content: '';
    position: absolute;
    right: -3rem;
    top: 50%;
    height: 1.5rem;
    background-color: #f16120;
    width: 3rem;
    border-left: #fff;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
    transform: translateY(-0.75rem);
}

.dialog-box::after{
    content: '';
    position: absolute;
    right: -2.4rem;
    background-color: #fff;
    top: 50%;
    height: 1.2rem;
    width: 3rem;
    border-left: #fff;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
    transform: translateY(-0.6rem);
}

.link-content{
    font-size: 2.6rem;
    font-weight: bold;
    color:#333
}
.dialog-container img{
    width: 14rem;
    height: 10.8rem;
    position: absolute;
    right: -1.4rem;
    bottom: 0.4rem;
}
.row-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem
}
.box-content{
    width:28rem;
    height: 23rem;
    border:0.3rem solid #f16120;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem 0
}
.box-content #box-img-1{
    width: 17rem;
    height: 6rem;
}
.box-content #box-img-2{
    width: 15rem;
    height: 9rem;
}
.box-content #box-img-3{
    width: 10rem;
    height: 10rem;
}
.box-content #box-img-4{
    width: 25rem;
    height: 16rem;
}
.box-content__text{
    font-size: 2.6rem;
    color:#666666;
    font-weight: bold;
    text-align: center
}
#img-text-03{
    height: 7rem;
    width: 53rem
}
.small-text{
    font-size: 1.6rem;
    color: #333
}
.text-bold{
    font-size: 3rem;
    font-weight: bold
}
.text-bold--small{
    font-size: 2.4rem;
    font-weight: bold
}
.text-bold--mini{
    font-size: 2.6rem;
    font-weight: bold
}
.img-text{
    width: 27.8rem;
    height: 4.5rem;
}
#content-multi-image-2{
    width: 100%;
    text-align: center;
    margin-top:1.5rem;
    position: relative;
}
.text-bold--large{
    font-size: 4.6rem;
    font-weight: bold
}
.text-bold--medium{
    font-size: 3.4rem;
    font-weight: bold
}
#multi-04{
    position: absolute;
    height: 16rem;
    width: 11rem;
    left: 0;
    top: 6rem;
}
#multi-03{
    position: absolute;
    height: 16rem;
    width: 13rem;
    right: 0;
    top: 6rem;
}

/* Mid content */
.mid-content{
    width: 100%;
    padding: 3rem;
}
.btn--gradient{
    width: 100%;
    height: 14rem;
    border-radius: .8rem;
    position: relative;
    box-shadow: 5px 7px 6px -3px rgba(0,0,0,0.7)
}
.btn--gradient::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #ff0072;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
}
.btn--gradient::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #a20154;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
}
.btn--gradient a{
    position: absolute;
    width: 100%;
    font-size: 2.6rem;
    height: 100%;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn--content{
    z-index: 1;
    display: flex;
    align-items: center;
}
#img-arrow{
    height: 4.4rem;
    width: 4.4rem;
}
.mid-content__text{
    text-align: center;
    margin-top: 1.5rem;
}
.text--orange{
    color:#f16120 ;
}
#flex-content-2{
    font-size: 2.4rem;
    text-decoration: none;
    color: #ff0072;
    font-weight: bold;
    position: relative;
}
#flex-content-2::after{
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    width: 100%;
    height: .2rem;
    background-color: #ff0072;
}

/* Logo content */
.logo-content{
    background-color: #fef1c7;
    width: 100%;
    padding: 3rem;
    position: relative;
}
.logo-box{
    width: 100%;
    padding: 1rem;
    border:.3rem solid #85be55;
    border-radius: 1.5rem;
    background-color: #fff;
    margin-bottom: 3rem;
    margin-top: 11rem;
}
.logo-box--top{
    text-align: center;
    border-bottom: .2rem solid #85be55;
}
#ejoica{
    width: 17rem;
    height: 7.9rem;
}
#waon{
    width: 11rem;
    height: 6.5rem;
}
#nanaco{
    width: 12rem;
    height: 8rem;
}
#amazon{
    width: 20rem;
    height: 5rem;
}
#edy{
    width: 6.4rem;
    height: 6.5rem;
}
#google{
    width: 28rem;
    height: 17rem;
}
#iTunes{
    width: 22rem;
    height: 14rem;
}
#logoText{
    width: 14rem;
    height: 3.5rem;
    position: absolute;
    bottom: -.3rem;
    right: 0;
}
.logo-box--content{
    width: 100%;
}
.logo-box--content__top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.logo-box--content__bottom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
}
#guide{
    position: absolute;
    top: 4rem;
    width: 56rem;
    height: 11rem;
}

/* Footer content */
.footer-content{
    padding: 2rem;
    background-color: #f5f5ec;
}
#img-footer{
    width: 100%;
    height: 12rem;
}
.footer-content ul {
    list-style: none;
    /* list-style-image: url() */
}
.footer-content ul li{
    padding-left: 3rem;
    font-size: 2.3rem;
    position: relative;
    margin-top: 1rem;
}
.text-footer{
    font-size: 2.3rem
}
.footer-content ul li::before{
    content: '';
    position: absolute;
    display: inline-block;
    top: .4rem;
    left: 0;
    background-image: url(../images/list-style.png);
    width: 2.3rem;
    height: 2.3rem;
    background-repeat: no-repeat;
    background-size: cover;

}
.footer-link{
    color:#006600;
    font-size: 2.3rem;
    margin-bottom: 1rem
}
@media screen and (max-width:480px){
    html{
        font-size: 41%
    }
}
@media screen and (max-width:320px){
    html{
        font-size: 32%
    }
}