*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
    -webkit-text-size-adjust: 100%;
  font-family: "Hiragino Kaku Gothic ProN",Meiryo,"游ゴシック",YuGothic,sans-serif
}

body {
  box-sizing: border-box; 
  background-color: #f6f6f6;
}

.container{
    max-width: 600px;
    margin: auto;
    background-color: #fff;
}

header{
    width: 100%;
    padding:10px 0 8px 0;
    background-color: #fff;
    text-align: center
}

header img{
    width: 350px;
}

.line--yellow{
    width: 100%;
    height: 10px;
    background-color: #ffd500
}

.top-content{
    width: 100%;
    background-color: #6eb92b;
    padding:10px;
}
#top-content__header-text{
    margin: auto;
    text-align: center;
    padding: 40px 0
}
#top-content__header-text p{
    font-size: 30px;
    color:#fff
}
#top-content__header-text .bold-text{
    font-weight: bold
}

#top-content__main{
    padding: 33px 14px;
    width: 100%;
    background-color: #fff;
}
.top-content__main-text{
    text-align: center
}
.text-small{
    font-size: 24px;
}
#top-content__header-text .text-bold--small{
    font-size: 24px;
}
.text-content{
    font-size: 24px;
    text-align: center;
    color:#333;
    position: relative;
}
.top-content__main-text .text-content::after, .top-content__main-text .flex-content-1::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ff0000;
}
.top-content__main-text .flex-content-1{
    display: inline-block;
    margin-top: 5px;
    position: relative;
}
.top-content__main-text .flex-content-1 span{
    font-size: 26px;
    font-weight: bold
}
.top-content__main-text .flex-content-1 img{
    width: 204px;
    height: 40px;
    margin-bottom: -8px;
}
.top-content__main-text .flex-content-2{
    display: inline-block;
    margin-top: 20px;
    position: relative;
}
.top-content__main-text .flex-content-2 span{
    font-size: 22px;
    font-weight: bold;
}
.top-content__main-text .flex-content-2 img{
    width: 200px;
    height: 34px;
    margin-bottom: -7px;
}
#content-multi-image{
    width: 100%;
    text-align: center;
    margin-top:15px;
    position: relative;
}
#content-multi-image p{
    font-size: 32px;
    font-weight: bold
}
#content-multi-image .text-01{
    margin-left: 40px
}
#content-multi-image .text-02{
    margin-top: 10px
}
#content-multi-image #multi-01{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 160px;
}
#content-multi-image #multi-02{
    position: absolute;
    right: 10px;
    top: 60px;
    width: 75px;
    height: 88px;
}
.img-arrow{
    margin-top:25px;
    width: 55px;
    height: 57px;
}
.arrow-container{
    width: 100%;
    text-align: center
}
.dialog-flex{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dialog-flex #person-01{
    width: 80px;
    height: 90px;
    margin-left: 10px;
}
.dialog-flex #dialog-01{
    width: 410px;
    height: 80px;
    margin-left: 10px;
}
.dialog-container{
    /* display: flex;
    flex-direction: row;
    align-items: flex-end */
    position: relative;
    margin-bottom: 30px
}
.dialog-box{
    padding: 10px 12px;
    border: 2px solid #f16120;
    border-radius: 20px;
    position: relative;
    margin-top: 30px;
    text-align: center;
    max-width: 445px;
}
.dialog-box::before{
    content: '';
    position: absolute;
    right: -30px;
    top: 50%;
    height: 15px;
    background-color: #f16120;
    width: 30px;
    border-left: #fff;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
    transform: translateY(-7.5px);
}

.dialog-box::after{
    content: '';
    position: absolute;
    right: -24px;
    background-color: #fff;
    top: 50%;
    height: 12px;
    width: 30px;
    border-left: #fff;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
    transform: translateY(-6px);
}

.link-content{
    font-size: 26px;
    font-weight: bold;
    color:#333
}
.dialog-container #person-02{
    width: 130px;
    height: 100px;
    position: absolute;
    right: -14px;
    bottom: 14px;
}
.row-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px
}
.box-content{
    width:280px;
    height: 230px;
    border:3px solid #f16120;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:15px 0
}
.box-content #box-img-1{
    width: 170px;
    height: 60px;
}
.box-content #box-img-2{
    width: 150px;
    height: 90px;
}
.box-content #box-img-3{
    width: 100px;
    height: 100px;
}
.box-content #box-img-4{
    width: 250px;
    height: 160px;
}
.box-content__text{
    font-size: 26px;
    color:#666666;
    font-weight: bold;
    text-align: center
}
#img-text-03{
    height: 70px;
    width: 530px
}
#arrow-pink{
    width: 18px;
    height: 17px;
}
.small-text{
    font-size: 16px;
    color: #333
}
.text-bold{
    font-size: 30px;
    font-weight: bold
}
.text-bold--small{
    font-size: 24px;
    font-weight: bold
}
.text-bold--mini{
    font-size: 26px;
    font-weight: bold
}
.img-text{
    width: 278px;
    height: 45px;
}
#content-multi-image-2{
    width: 100%;
    text-align: center;
    margin-top:15px;
    position: relative;
}
.text-bold--large{
    font-size: 46px;
    font-weight: bold
}
.text-bold--medium{
    font-size: 34px;
    font-weight: bold
}
#multi-04{
    position: absolute;
    height: 160px;
    width: 110px;
    left: 0;
    top: 60px;
}
#multi-03{
    position: absolute;
    height: 160px;
    width: 130px;
    right: 0;
    top: 60px;
}

/* Mid content */
.mid-content{
    width: 100%;
    padding: 30px;
}
.btn--gradient{
    width: 100%;
    height: 140px;
    border-radius: 8px;
    position: relative;
    box-shadow: 5px 7px 6px -3px rgba(0,0,0,0.7)
}
.btn--gradient::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #ff0072;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.btn--gradient::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #a20154;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.btn--gradient a{
    position: absolute;
    width: 100%;
    font-size: 26px;
    height: 100%;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn--content{
    z-index: 1;
    display: flex;
    align-items: center;
}
#img-arrow{
    height: 44px;
    width: 44px;
}
.mid-content__text{
    text-align: center;
    margin-top: 20px;
}
.text--orange{
    color:#f16120 ;
}
#flex-content-2{
    font-size: 22px;
    text-decoration: none;
    color: #ff0072;
    font-weight: bold;
    position: relative;
}
#flex-content-2::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff0072;
}

/* Logo content */
.logo-content{
    background-color: #fef1c7;
    width: 100%;
    /* text-align: center; */
    padding: 30px;
    flex-direction: column;
    align-items: center;
    display: flex;
    /* justify-content: center; */
    position: relative;
}
.logo-box{
    width: 100%;
    padding: 10px 10px 20px 10px;
    border: 3px solid #85be55;
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 30px;
    margin-top: 110px;
}
.logo-box--top{
    text-align: center;
    border-bottom: 2px solid #85be55;
}
#ejoica{
    width: 170px;
    height: 79px;
}
#waon{
    width: 110px;
    height: 65px;
}
#nanaco{
    width: 120px;
    height: 80px;
}
#amazon{
    width: 200px;
    height: 50px;
}
#edy{
    width: 64px;
    height: 65px;
}
#google{
    width: 280px;
    height: 170px;
}
#iTunes{
    width: 240px;
    height: 160px;
}
#logoText{
    width: 140px;
    height: 33px;
    position: absolute;
    bottom: -18px;
    right: 0;
}
.logo-box--content{
    width: 100%;
}
.logo-box--content__top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.logo-box--content__bottom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
#guide{
    position: absolute;
    top: 40px;
    width: 560px;
    height: 110px;
}

/* Footer content */
.footer-content{
    padding: 20px;
    background-color: #f5f5ec;
}
#img-footer{
    width: 100%;
    height: 120px;
}
.footer-content ul {
    list-style: none;
    /* list-style-image: url() */
}
.footer-content ul li{
    padding-left: 30px;
    font-size: 23px;
    position: relative;
    margin-top: 10px;
}
.text-footer{
    font-size: 23px
}
.footer-content ul li::before{
    content: '';
    position: absolute;
    display: inline-block;
    top: 4px;
    left: 0;
    background-image: url(../images/list-style.png);
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: cover;

}
.footer-link{
    color:#006600;
    font-size: 23px;
    margin-bottom: 10px
}
.padding-bottom{
    padding: 0 40px
}
.img--margin-bottom{
    margin-bottom: -8px;
}
.text-date{
    font-size: 18px;
    float:right
}
.img-brand{
    width: 100%;
    height: 550px;
    margin-bottom: 30px;
}
.footer--margin-top{
    margin-top: 20px;
}
#template-2 #top-content__header-text, #template-3 #top-content__header-text{
    padding: .5rem 0;

}
#template-2 .top-content__main-text, #template-3 .top-content__main-text{
    position: relative;
}
#img-person-2-1{
    width: 9rem;
    height: 12rem;
    position: absolute;
    left: -1rem;
    bottom: -.5rem;
}
#img-person-2-2{
    width: 10rem;
    height: 10rem;
    position: absolute;
    right: -.5rem;
    bottom: -.5rem;
}
.btn__radius--orange{
    width: 100%;
    border-radius: 4rem;
    padding: 1rem;
    background-color: #ea5504;
    margin-top: 3rem;
}
.btn__radius--orange p{
    color: white;
    text-align: center;
}
#template-2 .dialog-container__right .dialog-box{
    float: right;
    max-width: 39rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
#template-2 .dialog-container__right .dialog-box::before{
    left: -3rem;
}
#template-2 .dialog-container__right .dialog-box::after{
    left: -2.4rem;
}
#template-2 .dialog-container__right .dialog-box::before, #template-2 .dialog-container__right .dialog-box::after{
    clip-path: polygon(0 50%, 100% 100%, 100% 0%, 0 50%);
}
.flex-content__unline{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.flex-content__unline #konban{
    width: 28rem;
    height: 4.3rem;
    margin-bottom: .7rem;
}
.text-bold--mediumXL{
    font-size: 2.8rem;
    font-weight: bold;
}
.btn__small--orange{
    background-color: #ff9900;
    padding: .3rem 1.5rem;
    border-radius: .6rem;
    max-width: 14rem;
    float: right;
}
#person-hand{
    width: 15rem;
    height: 24rem;
    position: absolute;
    left: 2rem;
    top: 5rem;
}
#cat{
    width: 40rem;
    height: 10rem;
    margin: auto;
}
.content-image{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
#template-2 .dialog-container__left .dialog-box::before{
    right: -3.1rem;
    height: 3rem;
    width: 3rem;
    transform: translateY(-0.6rem);
}
#template-2 .dialog-container__left .dialog-box::after{
    right: -2.6rem;
    height: 3rem;
    transform: translateY(-0.6rem);
}
#template-2 .dialog-container__left .dialog-box::before, #template-2 .dialog-container__left .dialog-box::after{
    top:65%
}
#btn-image-1{
    height: 12rem;
    width: 8rem;
    z-index: 1;
}
#template-2 .btn--gradient__image{
    flex-direction: row;
    justify-content: space-between;
}


/******************* Template 3 **********************/
#img-person-3-1{
    width: 10rem;
    height: 11.5rem;
    position: absolute;
    left: 0;
    bottom: -2rem;
}
#img-person-3-2{
    width: 17rem;
    height: 21rem;
    position: absolute;
    right: 0px;
    bottom: -6rem;
}

#template-3 .dialog-container__left .dialog-box::before{
    right: -3.1rem;
    height: 3rem;
    width: 3rem;
    transform: translateY(-0.6rem);
}
#template-3 .dialog-container__left .dialog-box::after{
    right: -2.6rem;
    height: 3rem;
    transform: translateY(-0.6rem);
}
#template-3 .dialog-container__left .dialog-box::before, #template-3 .dialog-container__left .dialog-box::after{
    top:25%
}
#template-3 .dialog-container__right .dialog-box{
    float: right;
    max-width: 39rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
#template-3 .dialog-container__right .dialog-box::before{
    left: -3rem;
    height: 3rem;
    transform: translateY(-0.9rem);
}
#template-3 .dialog-container__right .dialog-box::after{
    left: -2.6rem;
    height: 3rem;
    transform: translateY(-0.9rem);
}
#template-3 .dialog-container__right .dialog-box::before, #template-3 .dialog-container__right .dialog-box::after{
    clip-path: polygon(0 50%, 100% 100%, 100% 0%, 0 50%);
}

/******************* Template 4 **********************/
#img-person-4-2{
    width: 9rem;
    height: 11.5rem;
    position: absolute;
    left: 0;
    bottom: -2rem;
}
#img-person-4-1{
    width: 13rem;
    height: 11rem;
    position: absolute;
    right: -1rem;
    bottom: -2rem;
}
#template-4 .dialog-container__left .dialog-box::before{
    right: -3.1rem;
    height: 3rem;
    width: 3rem;
    transform: translateY(-0.6rem);
}
#template-4 .dialog-container__left .dialog-box::after{
    right: -2.6rem;
    height: 3rem;
    transform: translateY(-0.6rem);
}
#template-4 .dialog-container__left .dialog-box::before, #template-4 .dialog-container__left .dialog-box::after{
    top:38%
}
#template-4 .top-content__main-text{
    position: relative;
}
#template-4 .dialog-container__right .dialog-box{
    float: right;
    max-width: 39rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
#template-4 .dialog-container__right .dialog-box::before{
    left: -3rem;
    height: 3rem;
    transform: translateY(-0.9rem);
}
#template-4 .dialog-container__right .dialog-box::after{
    left: -2.6rem;
    height: 3rem;
    transform: translateY(-0.9rem);
}
#template-4 .dialog-container__right .dialog-box::before, #template-4 .dialog-container__right .dialog-box::after{
    clip-path: polygon(0 50%, 100% 100%, 100% 0%, 0 50%);
}
@media screen and (max-width:480px){
    html{
        font-size: 39%
    }
}
@media screen and (max-width:320px){
    html{
        font-size: 31%
    }
}        