<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>【プレゼントあり】豪華クラシエ商品詰め合わせ！｜『女性の抜け毛改善法』『おなかの冷え対策』他- 2月号 Kampoful Life メールマガジン♪</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css" />
    <link href="../css/style-template-2.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="template-2" class="container">
        <header>
            <img src="../images/logo.jpg" alt="">
        </header>
        <div class="line--yellow"></div>
        <div class="top-content">
            <div id='top-content__header-text'>
                <p class="text-bold--medium">楽しみいっぱい！</p>
                <p class="text-bold--small">カンポフルライフ会員サービス！ご紹介メール①</p>
            </div>
            <div id='top-content__main'>
                <div class="top-content__main-text">
                    <p style="margin-bottom: 2rem;" class="text-bold--mini">カンポフルライフ会員サービスにようこそ！</p>
                    <p class="text-bold--mini">わたしたちが、会員サービスを</p>
                    <p class="text-bold--mini">3回に渡ってご案内します！</p>
                    <img id="img-person-2-1" src="../images/template2/person-2-1.png" alt="">
                    <img id="img-person-2-2" src="../images/template2/person-2-2.png" alt="">
                </div>
                <div class="btn__radius--orange">
                    <p class="text-bold--medium">会員サービスその１</p>
                </div>
                <div style="clear: both;" class="dialog-container dialog-container__right">
                    <div class="dialog-box">
                        <p>
                            <a class="link-content" href="">サイトを楽しむだけ</a>
                            <span class="text-content">でたまる</span>
                        </p>
                        <div class="flex-content__unline">
                            <img id="konban" src="../images/img-text-01.png" alt="">
                            <span class="text-content">を</span>
                        </div>
                        <p class="text-content">多くためてくれた方に</p>
                        <p class="text-bold--mediumXL">選べる電子マネーギフトを</p>
                        <p class="text-bold--mediumXL">プレゼントしています！</p>
                        <div style="width: 100%;">
                            <div class="btn__small--orange">
                                <span style="font-size: 2rem; font-weight: bold; color:#fff">要ログイン</span>
                            </div>
                        </div>

                    </div>
                    <img id="person-hand" src="../images/template2/person-2-3.png" alt="">
                </div>
                <div class="content-image" style="clear: both;">
                    <img id="cat" src="../images/template2/cat.png" alt="">
                </div>
                <div style="text-align: center; margin-top: 3rem;">
                    <p class="text-bold--small">漢方の考え方で、あなたの美と健康の</p>
                    <p class="text-bold--small">お手伝いをするのが</p>
                    <div class="flex-content__unline">
                        <img style="margin-bottom: .4rem; height: 5rem;" id="konban" src="../images/img-text-01.png" alt="">
                        <span class="text-bold--small">です。</span>
                    </div>
                </div>
                <div class="dialog-container dialog-container__left">
                    <div style="width: 40rem;" class="dialog-box">
                        <div class="flex-content__unline">
                            <img id="konban" src="../images/img-text-01.png" alt="">
                            <span class="text-content">は、</span>
                        </div>
                        <p class="text-content">カンポフルライフにログインして</p>
                        <p class="text-content">記事をよんだりするだけで</p>
                        <p class="text-content">たまるんですよ。</p>
                    </div>
                    <img style="width: 14rem; height: 14rem; position: absolute; right: 0; top: 4rem;" src="../images/template2/person-2-2.png" alt="">
                </div>
                <div class="btn--gradient btn--gradient__image" style="margin-top: 4rem;">
                    <a href="#">
                        <img id="btn-image-1" src="../images/template2/btn-image-1.png" alt="">
                        <div style="text-align: center; flex-direction: column; position: relative;" class="btn--content">
                            <p>さぁ、まずはマイページにログインして</p>
                            <p>たまったカンポフル</p>
                            <p>スコアを確認してみよう</p>
                            <img style="position: absolute; right: 0; bottom:.5rem" id="img-arrow" src="../images/arrow-button.png" alt=""> 
                        </div>
                    </a>
                </div>
            </div>
        </div>    
        <div class="logo-content">
            <img id="guide" src="../images/guide.png" alt="">
        <div class="logo-box">
            <div class="logo-box--top">
                <img id="ejoica" src="../images/ejoica.png" alt="">
            </div>
            <div class="logo-box--content">
                <div class="logo-box--content__top">
                    <img id="waon" src="../images/waon.png" alt="">
                    <img id="nanaco" src="../images/nanaco.png" alt="">
                    <img id="amazon" src="../images/amazon.png" alt="">
                    <img id="edy" src="../images/edy.png" alt="">
                </div>
                <div class="logo-box--content__bottom">
                    <img id="google" src="../images/google.png" alt="">
                    <img id="iTunes" src="../images/iTunes.png" alt="">
                    <img id="logoText" src="../images/logo-text.png" alt="">
                </div>

                
            </div>
        </div>
        <div class="btn--gradient">
            <a href="#">
                <div class="btn--content">
                    <span>今すぐ、カンポフルスコアをためる！</span>
                    <img id="img-arrow" src="../images/arrow-button.png" alt=""> 
                </div>
            </a>
        </div>
    </div>
    <img id="img-footer" src="../images/img-footer.png" alt="">
    <div class="footer-content">
        <p class="text-footer">＜Kampoful Life Newsについて＞</p>
        <p class="text-footer">このメールは、クラシエの Kampoful Life 会員登録時に「Kampoful Life会員規約」にご同意いただいた方を対象にお送りしております。今後も「Kampoful Life News」として、お得な情報などを不定期に配信させていただきます。</p>
        <br/>
        <p class="text-footer">
                ◆受信するメールアドレス(ログイン時のメールアドレス)の変更
        </p>
        <p class="text-footer">下記のリンクよりログインし、新しいメールアドレスを入力ください。</p>
        <a class="footer-link" href="#">メールアドレスを変更する>></a>
        <br/>
        <p style="margin-top: 2rem" class="text-footer">◆Kampoful Life News お問い合わせ</p>
        <p class="text-footer">下記のメールアドレス宛にお問い合わせください。</p>
        <p class="text-footer">お問い合わせメールアドレス：</p>
        <a class="footer-link" href="mailto:e-mailnewsletter-kampoful-life@kracie.jp">e-mailnewsletter-kampoful-life@kracie.jp</a>
        <br/>
        <p style="margin-top: 2rem" class="text-footer">ご注意：本メールにご返信でのお問い合わせは、回答はできかねますのでご注意ください。</p>
        <br/>
        <p class="text-footer">◆選べる電子マネー「EJOICAセレクトギフト」について</p>
        <ul>
            <li><span>「EJOICAセレクトギフト」は、株式会社NTTカードソリューションが発行する電子マネーギフトです。</span></li>
            <li><span>「nanaco（ナナコ）」は株式会社セブン・カードサービスの登録商標です。</span></li>
            <li><span>「楽天Edy（ラクテンエディ）」は、楽天グループのプリペイド型電子マネーサービスです。</span></li>
            <li>
                <p>本キャンペーンはクラシエ製薬株式会社による提供です。本キャンペーンについてのお問い合わせはAmazonではお受けしておりません。</p>
                <p>membersupport-kampoful-life@kracie.jp までお願い致します。</p>
            </li>
            <li>
                <span>Amazon、Amazon.co.jp およびそれらのロゴはAmazon.com, Inc. またはその関連会社の商標です。</span>
            </li>
            <li>
                <span>© 2020 iTunes K.K. All rights reserved.</span>
            </li>
            <li>
                <span>「WAON（ワオン）」は、イオン株式会社の登録商標です。</span>
            </li>
            <li>
                <span>Google Play、Google Play ロゴは、Google LLC の商標です。</span>
            </li>
        </ul>
        <br/>
        <p class="text-footer">◆メールの内容に覚えがない場合は、お手数ですが本メールに返信の上、破棄していただきますようお願いいたします。</p>
        <p class="text-footer">◆Kampoful Life メールマガジンの配信停止配信停止をご希望の方は、下記のリンクをクリックください。下記のリンクをクリックするだけで、メールは配信停止となります。但し、数日間はメールが配信されることもあります。</p>
        <a class="footer-link" href="#">このメルマガの配信を停止する>></a>
        <p style="margin-top: 2rem" class="text-footer">発行元：クラシエホールディングス株式会社</p>
        <p class="text-footer">〒108-0022　東京都港区海岸三丁目20番20号</p>
        <a class="footer-link" href="#">http://www.kracie.co.jp/</a>
        <!-- <p class="text-footer">個人情報保護方針について</p> -->
    </div>    
    </div>
</body>
</html>